*{
    padding: 0;
    margin: 0;
    background: #f2f2f2;
    box-sizing: border-box;
}
/* this is notebook section 
.notebook{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 1px solid orange;
    width: 23cm;
    height: 16.5cm;

}
.notebook h1{
    color: darkorange;
    text-align: center;
    margin-right: 20px;
}
.notebook #header{
    position: absolute;
    width: 99.5%;
    height: 15cm;
    padding: 3px;
    text-align: left;
    color: purple;
    writing-mode: vertical-rl;
    
}
.notebook table{
    position: absolute;
    top: 0;
    left: 47%;
    transform: translateX(-50%);
    width: 19.5cm;
    height: 16cm;
    border: 2px solid orange;
    border-collapse: collapse;
    border-radius: 3px;
    
}

.notebook table td{
    border: 1px gray dotted;
    border-collapse: collapse;
    width: 7mm;
    height: 7mm;
}
.notebook #footer{
    position: relative;
    left: 3%;
    transform: translate(-50%);
    color: purple;
    writing-mode: vertical-rl;
    padding: 3px;
    height: 15cm;
    text-align: center;
    
}
*/

/* this is calender section */
#calender{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid orange;
    width: 23cm;
    height: 29cm;
    
}
.title{
    width: 49%;
    height: 2.5cm;
    color: purple;
    border-bottom: purple 2px dotted;
    padding: 5px;
    text-align: center;

}
.month{
    border: orange 2px solid;
    width: 49%;
    margin: 3px;
    padding: 5px 10px;
}
.month table td{
    border-bottom: orange 2px solid;
    font: bold;
    padding: 4px;

}
